*{ box-sizing: border-box; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

header { background-color: #313234; width: 100%; height: 50px; }

header .container { margin: auto; max-width: 188px; height: 100vh; }

header nav ul { float: right; margin: 0; padding: 0; list-style-type: none; }

header nav ul li { display: inline-block; }

header nav ul li a { line-height: 50px; display: block; color: #fff; padding-top: 0; padding-right: 20px; padding-bottom: 0; padding-left: 20px; text-decoration: none; text-transform: uppercase; font-weight: bold; }

header nav ul li a:hover, header nav ul li a:focus { color: #3498db; }
