
@mixin size($width, $height) {
  width: $width;
  height: $height;
}
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
@mixin padding($ptop: null, $pright: null, $pbottom: null, $pleft: null) {
  padding-top: $ptop;
  padding-right: $pright;
  padding-bottom: $pbottom;
  padding-left: $pleft;
}
@mixin background-position($y: null, $x: null) {
    background-position-y: $y;
    background-position-x: $x;
}
@mixin text-transform {
    text-transform: uppercase;
    font-weight: bold;
}
