.sidebar {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: $main-shaft;
  width: 10%;
  min-width: 188px;
  height: 100vh;
  font-size: 14px;
  position: fixed;
  @media(max-width: 767px) {
  min-width: 55px;
  }
  .nav-header {
    display: flex;
    justify-content: space-around;
    @include padding (20px, 20px, 20px, 20px);
    .logo {
      dispalay: inline-block;
    }
    .menu-toggle {
      cursor: pointer;
      display: inline-block;
      &::before {
        background-image: url(../images/hamburger.svg);
        background-size: cover;
        content: '';
        display: inline-block;
        @include size (18px, 16px);
        @include position (relative, 3px);
        border-color: none;
      }
    }
  }
  .nav-menu {
    list-style: none;
    margin: 0;
    @include padding (0, 0, 20px, 0);
    li {
      width: 100%;
    }
    a {
      color: white;
      text-decoration: none;
      @include padding (10px, 0, 10px, 16px);
      display: block;
      border-left: 4px solid transparent;
      i {
        margin-right: 14px;
      }
      &:hover {
        border-left: 4px solid $buttons-chart-extasy;
        background-color: #282828;
        color: #ffffff;
      }
    }
  }
}
.manager {
  border-top: 1px solid grey;
  @include padding (0, 0, 0, 20px);
  .boss {
    @include text-transform;
    color: white;
    margin: 0;
    letter-spacing: -0.28px;
    line-height: 42px;
  }
  .avatar {
    display: flex;
    cursor: pointer;
  }
  .manager-pic {
    display: inline-block;
    position: relative;
    img {
      width: 100%;
    }
    .status {
       @include circle(12px);
       background-color: $button-other-laurel;
       @include position (absolute, 0, 0, 0, 0);
    }
  }
  .manager-name {
    color: white;
    line-height: 40px;
    margin-left: 14px;
  }
}
@include layout;
  .calendar {
    text-align: center;
  }


.form-input {
    border-radius: 3px;
    color: #333333;
    border: 1px solid #e3e3e3;
    font-size: 14px;
    padding: 15px;
    text-align: left;
    outline: none;
    &::placeholder {
        color: #a6a6a6;
    }
    &:hover, &:focus {
        border: 1px solid #b1b1b1;
    }

    &[type='checkbox'] {
        display: none;
        ~ label {
            padding: 12px;
            &::before {
                background-color: #ffffff;
                border: 1px solid #e3e3e3;
                color: #ffffff;
                content: '\02714';
                display: inline-block;
                margin-right: 14px;
                width: 18px;
                height: 18px;
            }
        }

        &:checked ~ label::before {
            border-color: black;
            background-color: black;
        }
    }
    &[disabled] {
        color: #a6a6a6;
        cursor: not-allowed;
    }
}

.input-icon {
        display: inline-block;
        font-size: 16px;
        transform: translate(30px);
        margin-left: -20px;
        z-index: 1;
        +.form-input {
            padding-left: 34px;
            z-index: 0;
        }
    }
.date-period {
    @extend .form-input;
    display: inline-block;
    input {
        border: none;
        &:nth-child(2) {
            border-left: #9c9c9c solid 1px;
            padding-left: 14px;
        }
    }
    .icon-calendar {
        color: #9c9c9c;
        cursor: pointer;
        &:hover {
            color: #333333;
        }
    }
}
@include grid ('xl');
  @media(max-width: 767px) {
  @include grid('sm');
  }

  @media(min-width: 768px) {
    @include grid('md');
  }

  @media(min-width: 992px) {
    @include grid('lg');
  }

  @media(min-width: 1200px) {
    @include grid('xl');
  }
