$main-shaft: #333333; /*side bra*/
$buttons-chart-extasy: #f58220;/*chart and buttons - lght orange*/
$chart-horizon: #56819f; /* blue chart and some dots*/
$main-background-cararra: #f5f5f2; /*background color very light grey*/
$button-other-laurel: #04ae00; /*green dot*/
$warning: #ff0000; /*red*/
$btn-default-color: #979797; /*btn default*/
$btn-default-hover-color: #BABABA;
$btn-action-hover-color: #FFA200;
$font: #a6a6a6;
$underlines: #E3E3E3;
$main-font: 'Glyphter';
$do-it-font: 'Dancing Script', cursive;
/* Colors */
$firstcolor: #FFFFFF;
$secondcolor: #a5a4a5;
$thirdcolor: #DDDDDD;
$paragraph-color: #191919;
$brand-main-color: #f58220;
$menuHoverColor: #282828;
$backgroundColor: #f4f4f2;
$signupsColor: #70bec8;
$activeColor: #f0f3f3;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
