@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}

$main-shaft: #333333; /*side bra*/
$buttons-chart-extasy: #f58220;/*chart and buttons - lght orange*/
$chart-horizon: #56819f; /* blue chart and some dots*/
$main-background-cararra: #f5f5f2; /*background color very light grey*/
$button-other-laurel: #04ae00; /*green dot*/
$warning: #ff0000; /*red*/

$main-font: 'Glyphter';
$do-it-font: 'Dancing Script', cursive;
