@import '../vendor/icons/icon-font/css/Glyphter.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import 'variable';
@import 'mixins';
@import 'normalize';
@import 'layout';



*{
box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

