@import '../vendor/icons/icon-font/css/Glyphter.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import 'variable';
@import 'mixins';
@import 'normalize';
@import 'layout';
@import 'components/buttons';
@import 'sections/sidebar';
@import 'sections/topbar';
@import 'sections/general';
@import 'sections/links';

body {
    max-width: 1400px;
    margin: 0px;
    padding: 0px;
}
@media ( max-width: 767px) {
  body {
    width: auto;
    margin: 0px;
    padding: 0px;
}
}
@media ( max-width: 560px) {
  body {
    width: 90vw;
    margin: 0;
    padding: 0px;
}
}
@media ( max-width: 360px) {
  body {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}
}
@media (min-width: 780px) {
    br {
        display: none;
    }
}
*{
box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

