@import "variable";
@import "mixins";
@import "normalize";
@import "layout";

*{
box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

header {
  background-color: $main-shaft;
  width: 100%;
  height: 100vh;
      .container {
        margin: auto;
        max-width: 188px;
        height: 100vh;
        }
        nav {
            ul {
            float: left;
            margin: 0;
            padding: 0;
            list-style-type: none;
                li {
                  display: block;
                   a {
                    line-height: 20px;
                    display: block;
                    color: #fff;
                    @include padding(0, 20px, 0, 20px);
                    @include text-transform;
                    text-decoration: none;
                    &:hover,
                    &:focus {
                    color: $main-background-cararra;
                    }
                }
            }
        }
    }
}

