.btn {
  border-radius: 4px;
  border: none;
  font-family:'Roboto', sans-serif;
  font-size: 1em;
  margin: 5px;
  @include padding(14px, 22px);
  color: white;

  &-default {
    background-color: blue;
    &:hover {
      background-color: $btn-default-hover-color;
    }
  }
  &-orange {
    background-color: $buttons-chart-extasy;
    &:hover {
      background-color: $btn-action-hover-color;
    }
  }
  &[disabled]{
        background-color: #E3E3E3;
        cursor: not-allowed;
        &::before {
            content:'\004c';
            display: inline-block;
            font-family: 'Glyphter';
            font-style: normal;
            font-weight: normal;
            line-height: 0;
            margin-right: 12px;
            @include position(relative, 2px);
        }
    }
}
 .submit-btn, .btn-orange {
      @include size (47px,47px);
      border-radius: 4px;
      border: none;
      margin-left: 2px;
      .icon-refresh {
        color: white;
        font-size: 16px;
      }
}
.add, .btn-orange {
        @include size (150px, 47px);
        border-radius: 4px;
        border: none;
        color: white;
        font-family: "Roboto", sans-serif;
      }
.nav-btn {
  background-color: white;
  color: #9c9c9c;
  border: 1px solid black;
  cursor: pointer;
  @include padding (20px, 20px, 20px, 20px);
  border-left: 1px solid #e3e3e3;
  position: relative;
  span {
    margin: 0 15px;
    .amount {
      font-size: 20px;
      font-weight: bold;
    }
    .name {
      color: black;
      font-size: 15px;
    }
  }
  .notification {
    position: relative;
    display: block;
  }
  .dot {
    background-color: $buttons-chart-extasy;
    display: inline-block;
    @include position (absolute, 16px, 18px);
    @include circle(9px);

  }
  &:hover {
    background-color:$main-background-cararra;
  }
}
