
.form-input, .date-period {
      border-radius: 4px;
      color: $main-shaft;
      border: 1px solid black;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      text-align: left;
      outline: none;
      @include size (auto, auto);
    }
    .input-icon {
      display: inline-block;
      font-size: 20px;
      transform: translate(0px);
      margin-left: auto;
      z-index: 1;
      color: $font;
    }
    .date-period {
    @extend .form-input;
    display: inline-block;
    input {
        border: none;
        &:nth-child(2) {
          border-radius: 0px;
          border-left: 1px $main-shaft solid;
          @include padding (0, 0, 0, 0);
        }
    }
    .icon-calendar {
        color: $main-shaft;
        cursor: pointer;
        &:hover {
            color: $font;
        }
    }
  }
