.sidebar {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  background-color: $main-shaft;
  width: auto;
  min-width: auto;
  height: auto;
  font-size: 14px;

  z-index: 999999;
  .nav-header {
    display: flex;
    justify-content: space-around;
    @include padding (20px, 20px, 20px, 20px);
    .logo {
      display: inline-block;
    }
    .menu-toggle {
      cursor: pointer;
      display: inline-block;
      &::before {
        background-image: url(../images/hamburger.svg);
        background-size: cover;
        content: '';
        display: inline-block;
        @include size (18px, 16px);
        @include position (relative, 3px);
        border-color: none;
      }
    }
  }
  .nav-menu {
    list-style: none;
    margin: 0;
    @include padding (0, 0, 20px, 0);
    li {
      width: 100%;
    }
    a {
      color: white;
      text-decoration: none;
      @include padding (10px, 0, 10px, 16px);
      display: block;
      border-left: 4px solid transparent;
      font-weight: 500;
      i {
        margin-right: 14px;
      }
      &:hover {
        border-left: 4px solid $buttons-chart-extasy;
        background-color: #282828;
        color: #ffffff;
      }
    }
  }
}

.manager {
  border-top: 1px solid grey;
  @include padding (0, 0, 0, 20px);
  .boss {
    @include text-transform;
    color: white;
    margin: 0;
    letter-spacing: -0.28px;
    line-height: 42px;
    font-weight: 500;
  }
  .avatar {
    display: flex;
    cursor: pointer;
  }
  .manager-pic {
    display: inline-block;
    position: relative;
    img {
      width: 100%;
    }
    .status {
       @include circle(12px);
       background-color: $button-other-laurel;
       @include position (absolute, 0, 0, 0, 0);
    }
  }
  .manager-name {
    color: #0080ff;
    line-height: 40px;
    margin-left: 14px;
  }
}
