.topbar {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #e3e3e3;
  position: fixed;
  @include size (100%, auto);
  background-color: white;
  margin-top: 0;
  z-index: 9999;

.nav-btn {
  background-color: white;
  color: #9c9c9c;
  border: none;
  cursor: pointer;
  @include padding (20px, 20px, 20px, 20px);
  border-left: 1px solid #e3e3e3;
  position: relative;
  span {
    margin: 0 15px;
    .amount {
      font-size: 20px;
      font-weight: bold;
    }
    .name {
      color: black;
      font-size: 15px;
    }
  }
  .notification {
    position: relative;
    display: block;
  }
  .dot {
    background-color: $buttons-chart-extasy;
    display: inline-block;
    @include position (absolute, 16px, 18px);
    @include circle(9px);

  }
  &:hover {
    background-color:$main-background-cararra;
  }
}
}
