.general {
  margin-left: 188px;
  font-size: 16px;
  @include size (auto, auto);
  border-top: 80px solid $main-background-cararra;
  border-bottom: 2px solid $main-background-cararra;
  border-left: 20px solid $main-background-cararra;
  border-right: 20px solid $main-background-cararra;
  @include padding (0, 0, 0, 0);

  p {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    @include padding (20px, 20px, 20px, 20px);
    color: $font;
  }
  .calendar {
    @include size (auto, auto);
    @include padding (20px, 0, 0, 0);
    text-align: center;
    margin:0 50px;
    .form-input, .date-period {
      border-radius: 4px;
      color: $main-shaft;
      border: 1px solid black;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      @include padding (5px, 5px, 5px, 5px);
      text-align: left;
      outline: none;
      @include size (auto, auto);
    }
    .input-icon {
      display: inline-block;
      font-size: 20px;
      transform: translate(30px);
      margin-left: -55px;
      z-index: 1;
      color: $font;
    }
    .date-period {
    @extend .form-input;
    display: inline-block;
    input {
        border: none;
        &:nth-child(2) {
          border-radius: 0px;
          border-left: 1px $main-shaft solid;
          @include padding (0, 0, 0, 14px);
        }
    }
    .icon-calendar {
        color: $main-shaft;
        cursor: pointer;
        &:hover {
            color: $font;
        }
    }
  }
  .submit-btn, .btn-orange {
      @include size (47px, 47px);
      border-radius: 4px;
      border: none;
      margin-left: 2px;
      .icon-refresh {
        color: white;
        font-size: 15px;
      }
    }
  }

  & .date-period:hover {
    border: 1px solid $font;
  }
  & .date-period:focus {
    border: 1px solid $font;
  }
  .numbers {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 50px;
    flex-wrap: wrap;
    text-align: center;
    @include size (auto, auto);
    h3 {
      color: $font;
    }
    .data {
      text-align: center;
      .text {
        display: flex;
        flex-direction: row;
        border-bottom: 0.5px solid #f5f5f2;
        justify-content: space-between;
        @includ padding (1px 5px 1px 30px);
        @include size (40%, 45px);
        margin-right: 10px;
      }
      .dist {
        display: flex;
        flex-direction: row;
        border-bottom: 0.5px solid #f5f5f2;
        justify-content: space-between;
        @includ padding (1px 30px 1px 5px);
        @include size (40%, 45px);
        margin-left: 15px;
      }
    }
  }
  .chart {
    margin: 0 70px;
  }
  hr {
    @include size (auto, 10px);
    @include padding (2px, 0px, 2px, 0px);
    background-color: $main-background-cararra;
    border: none;
  }
  .title {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    @include padding (10px, 10px, 10px, 10px);
    color: $font;
    font-weight: 500;
    margin: 35px;
    margin-bottom: 20px;
  }
}
  @media (max-width: 767px) {
    .general {
      margin-left: 55px;
      font-size: 12px;
      max-width: 767px;
      border-top: 35px solid $main-background-cararra;
      border-bottom: 0px;
      border-left: 0px;
      border-right: 0px;
      @include padding (30px, 30px, 30px, 30px);
      p {
        font-size: 12px;
      }
      .calendar {
        margin:auto;
        .form-input, .date-period {
          font-size: 14px;
          @include padding (2px, 2px, 2px, 2px);
          @include size (80%, auto);
        }
        .input-icon {
          font-size: 16px;
          margin-left: -20px;
        }
        .date-period {
        display: inline-block;
        input {
            &:nth-child(2) {
              border-left: none;
              padding-left: 1px;
            }
        }
        .icon-calendar {
            color: $main-shaft;
            cursor: pointer;
            &:hover {
                color: $font;
            }
        }
      }
      .submit-btn, .btn-orange {
          @include size (30px, 30px);
          top: 170px;
          position: absolute;
          .icon-refresh {
          }
        }
      }
      .chart {
        margin: auto;
        height: 80%;
      }
      hr {
        display: none;
      }
      .title {
        font-size: 12px;
        margin: 0px;
        margin-top: 15px;
      }
    }
  }
  @media (max-width: 560px) {
    .general {
      p {
    }
      .calendar {
        .form-input, .date-period {
        }
        .input-icon {
        }
        .date-period {
        input {
            &:nth-child(2) {
            }
        }
        .icon-calendar {
            &:hover {
            }
        }
      }
      .submit-btn, .btn-orange {
          .icon-refresh {
          }
        }
      }

      & .date-period:hover {
      }
      & .date-period:focus {
      }
      .numbers {
        margin: 0px;
        h3 {
          font-weight: 500;
        }
        .data {
          .text {
            width: 40%;
            padding: 10px;
            text-align: left;
            border-bottom: none;
          }
          .dist {
            width: 40%;
            padding: 10px;
            text-align: left;
            border-bottom: none;
          }
        }
      }
      .chart {
      }
      hr {
      }
    }
  }
